body {
    width: 80%;
    margin: auto;
}

button {
    margin-right: 5px;
}

/* #inputTaskBlock {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

#buttons {
    padding: 10px;
    display: flex;
}

#listOfTasks {
    margin: 15px;
}

.black::placeholder {
    color: black;
}

#task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s ease;
    background-color: #dddddd;
}

#task.active {
    transition: background-color 0.5s ease;
    background-color: #77b777;
}

#task.editing {
    transition: background-color 0.5s ease;
    background-color: yellow;
}

#task.appear {
    animation: appear .5s;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#task.hide {
    animation: hide .5s;
    opacity: 0;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */



#inputTaskBlock {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

#buttons {
    padding: 10px;
    display: flex;
}

#tasksList {
    margin: 15px;
}

.red::placeholder {
    color: black;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s ease;
    background-color: #dddddd;

    animation: appear .5s;
}

.task.done {
    transition: background-color 0.5s ease;
    background-color: #77b777;
}

.task.editing {
    transition: background-color 0.5s ease;
    background-color: rgb(228, 228, 155);
}


@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.task.hide {
    animation: hide .5s;
    opacity: 0;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}